@font-face {
  font-family: 'aurora-glyphs';
  src:
    url('fonts/aurora-glyphs.ttf?3hqt0j') format('truetype'),
    url('fonts/aurora-glyphs.woff?3hqt0j') format('woff'),
    url('fonts/aurora-glyphs.svg?3hqt0j#aurora-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ty-icon-aurora-"], [class*=" ty-icon-aurora-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aurora-glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ty-icon-aurora-radio_on:before {
  content: "\e918";
}
.ty-icon-aurora-radio_off:before {
  content: "\e919";
}
.ty-icon-aurora-house:before {
  content: "\e900";
}
.ty-icon-aurora-expand:before {
  content: "\e917";
}
.ty-icon-aurora-filter:before {
  content: "\e915";
}
.ty-icon-aurora-plus:before {
  content: "\e901";
}
.ty-icon-aurora-vk:before {
  content: "\e902";
}
.ty-icon-aurora-heart-full:before {
  content: "\e912";
}
.ty-icon-aurora-heart-empty:before {
  content: "\e911";
}
.ty-icon-aurora-delete:before {
  content: "\e913";
}
.ty-icon-aurora-equalizer:before {
  content: "\e90f";
}
.ty-icon-aurora-truck:before {
  content: "\e914";
}
.ty-icon-aurora-percentage:before {
  content: "\e909";
}
.ty-icon-aurora-account:before {
  content: "\e903";
}
.ty-icon-aurora-arrow-down:before {
  content: "\e904";
}
.ty-icon-aurora-arrow-left:before {
  content: "\e905";
}
.ty-icon-aurora-arrow-right:before {
  content: "\e906";
}
.ty-icon-aurora-arrow-up:before {
  content: "\e907";
}
.ty-icon-aurora-cart:before {
  content: "\e908";
}
.ty-icon-aurora-checkbox-blank:before {
  content: "\e90a";
}
.ty-icon-aurora-checkbox-checked:before {
  content: "\e90b";
}
.ty-icon-aurora-cross:before {
  content: "\e90c";
}
.ty-icon-aurora-home:before {
  content: "\e90d";
}
.ty-icon-aurora-menu:before {
  content: "\e90e";
}
.ty-icon-aurora-star-empty:before {
  content: "\e910";
}
.ty-icon-aurora-star-full:before {
  content: "\e916";
}
