@icomoon-font-family: "aurora-glyphs";
@icomoon-font-path: "../css/addons/aurora/icomoon/fonts";

@ty-icon-aurora-radio_on: "\e918";
@ty-icon-aurora-radio_off: "\e919";
@ty-icon-aurora-house: "\e900";
@ty-icon-aurora-expand: "\e917";
@ty-icon-aurora-filter: "\e915";
@ty-icon-aurora-plus: "\e901";
@ty-icon-aurora-vk: "\e902";
@ty-icon-aurora-heart-full: "\e912";
@ty-icon-aurora-heart-empty: "\e911";
@ty-icon-aurora-delete: "\e913";
@ty-icon-aurora-equalizer: "\e90f";
@ty-icon-aurora-truck: "\e914";
@ty-icon-aurora-percentage: "\e909";
@ty-icon-aurora-account: "\e903";
@ty-icon-aurora-arrow-down: "\e904";
@ty-icon-aurora-arrow-left: "\e905";
@ty-icon-aurora-arrow-right: "\e906";
@ty-icon-aurora-arrow-up: "\e907";
@ty-icon-aurora-cart: "\e908";
@ty-icon-aurora-checkbox-blank: "\e90a";
@ty-icon-aurora-checkbox-checked: "\e90b";
@ty-icon-aurora-cross: "\e90c";
@ty-icon-aurora-home: "\e90d";
@ty-icon-aurora-menu: "\e90e";
@ty-icon-aurora-star-empty: "\e910";
@ty-icon-aurora-star-full: "\e916";

