# ignore everything in the root folder except default files
/*

!.gitignore
!.htaccess
!.editorconfig

!*.php
local_conf.php
get_api.php
sp*.php

!changelog.txt
!copyright.txt
!edost.txt
!robots.txt
!install.html
!store_closed.html
!README.rst
!README.md

# Add app,js,design directory
!app/
!js/
!design/
images/*
!**/images/
!images/.gitkeep

!var/
var/*
!var/backups/
var/backups/*
!var/backups/last.sql.zip
!var/backups/structure.sql.zip
!var/backups/migration_*
!var/langs/
!var/conf/
!var/migrations/
!var/themes_repository/
!var/.htaccess
!var/install.log
var/snapshots/
!var/snapshots/*_dist.php

upgrades/*
!upgrades/source_restore.php


*.bak
*.DS_Store*
*.sublime*
*.sw*
*~
.buildpath
.idea
.vscode
.project
.projectile
nbproject
/tags
Thumbs.db
get_addon.php
get_addons/
var/addons/
langs.php
qb.php
/isph*
/create_addon.php
