

@media only screen and (max-width : 1199px) {}
@media only screen and (max-width : 979px) {}
@media only screen and (max-width : 767px) {}
@media only screen and (max-width : 479px) {}


/* ==========================================================================
Elements: styles
========================================================================== */


* {
    outline: none !important;
    text-decoration: none !important;
}
