@icomoon-font-family: "vkusno";
@icomoon-font-path: "../../media/fonts";

//@vk-close: "\e903";
//@vk-arrow: "\e90a";
//@vk-minus: "\e919";
//@vk-plus: "\e91e";
//@vk-close_min: "\e90f";
//@vk-arrow_right: "\e900";
//@vk-share: "\e901";
//@vk-star: "\e902";

@vk-del: "\e904";
@vk-cart: "\e905";
@vk-sort: "\e906";
@vk-clipboard: "\e907";
@vk-history: "\e908";
@vk-filter: "\e909";
@vk-settings: "\e90b";
@vk-arrow_right: "\e90d";
@vk-share: "\e90e";
@vk-star: "\e910";
@vk-close: "\e911";
@vk-arrow: "\e912";
@vk-close_min: "\e913";
@vk-minus: "\e91a";
@vk-plus: "\e91f";
@vk-check: "\e90a";
